__pycache__/
.pytest_cache
logs/
config.json
test.py
stubs/direct/
stubs/
saves/
monkeytype.sqlite3
.ruff_cache
assets/generated/
!assets/generated/.gitkeep
!assets/generated/icons/.gitkeep
!**/.gitkeep