__pycache__/
.pytest_cache
config.json
test.py
stubs/direct/
stubs/
sciv/saves/
monkeytype.sqlite3
.ruff_cache
**/*.kra
**/*.png~
lib/
lib64/
bin/
pyvenv.cfg
sciv/debugging/
.history/
sciv/include
build/
dist/
builds/
package.json
*.log
sciv/assets/